{% extends "base.html" %}
{% load i18n static %}

{% block title %}404 - {% translate "Not Found" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="row align-items-center my-5">
        <div class="col-sm-3 mb-5">
            <img src="{% static 'images/circle-icons/magnifyingglass.png' %}" class="w-100" alt="">
        </div>
        <div class="col-sm-9 mb-5">
            <h1 class="h3">404 - {% translate "Not Found" %}</h1>
            <p>{% translate "The page you are looking for might have been deleted or expired." %}</p>
            <a class="btn btn-primary" href="/">{% translate "Go to homepage" %}</a>
        </div>
    </div>
{% endblock %}
