{% extends "base.html" %}
{% load i18n static auth %}

{% block title %}{% translate "Start" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <a href="{% url 'studies:index' %}" class="card-header" tabindex="-1" aria-hidden="true">
                    <img class="w-100 h-auto" src="{% static 'images/circle-icons/study_management.png' %}" alt="" width="184" height="184">
                </a>
                <div class="card-body">
                    <a href="{% url 'studies:index' %}" class="btn btn-primary d-block w-100">{% translate "Studies" %}</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <a href="{% url 'subjects:index' %}" class="card-header" tabindex="-1" aria-hidden="true">
                    <img class="w-100 h-auto" src="{% static 'images/circle-icons/subject_management.png' %}" alt="" width="184" height="184">
                </a>
                <div class="card-body">
                    <a href="{% url 'subjects:index' %}" class="btn btn-primary d-block w-100">{% translate "Subjects" %}</a>
                </div>
            </div>
        </div>

        {% if user.resource_set.exists %}
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <a href="{% url 'appointments:resource-list' %}" class="card-header" tabindex="-1" aria-hidden="true">
                        <img class="w-100 h-auto" src="{% static 'images/circle-icons/tools.png' %}" alt="" width="184" height="184">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'appointments:resource-list' %}" class="btn btn-primary d-block w-100">{% translate "Resources" %}</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% has_perm 'subjects.export_subject' user as can_export_subject %}
        {% has_privacy_level 2 user as has_privacy_level_2 %}
        {% if can_export_subject and has_privacy_level_2 %}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <a href="{% url 'data_protection:index' %}" class="card-header" tabindex="-1" aria-hidden="true">
                        <img class="w-100 h-auto" src="{% static 'images/circle-icons/data_protection.png' %}" alt="" width="184" height="184">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'data_protection:index' %}" class="btn btn-primary d-block w-100">{% translate "Data protection" %}</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'mfa:list' %}" class="card-header" tabindex="-1" aria-hidden="true">
                    <img class="w-100 h-auto" src="{% static 'images/circle-icons/key.png' %}" alt="" width="184" height="184">
                </a>
                <div class="card-body">
                    <a href="{% url 'mfa:list' %}" class="btn btn-primary d-block w-100">{% translate "Login keys" %}</a>
                </div>
            </div>
        </div>

        {% if user.is_staff or user.is_superuser %}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <a href="{% url 'admin:index' %}" class="card-header" tabindex="-1" aria-hidden="true">
                        <img class="w-100 h-auto" src="{% static 'images/circle-icons/gear.png' %}" alt="" width="184" height="184">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'admin:index' %}" class="btn btn-primary d-block w-100">{% translate "Admin" %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="container text-center text-muted my-1">
        Castellum {{ CASTELLUM_VERSION }} ({{ CASTELLUM_RELEASE_DATE }})
    </footer>
{% endblock %}
