{% load django_bootstrap5 %}

{% bootstrap_field form.email %}
<div class="row gx-2">
    <div class="col-md-6">
        {% bootstrap_field form.phone_number required_css_class='castellum-required' %}
    </div>
    <div class="col-md-6">
        {% bootstrap_field form.phone_number_alternative required_css_class='castellum-required' %}
    </div>
</div>
<div class="row gx-2">
    <div class="col-md-8">
        {% bootstrap_field form.address.street required_css_class='castellum-required' %}
    </div>
    <div class="col-md-4">
        {% bootstrap_field form.address.house_number required_css_class='castellum-required' %}
    </div>
</div>
<div class="row gx-2">
    <div class="col-md-3">
        {% bootstrap_field form.address.zip_code required_css_class='castellum-required' %}
    </div>
    <div class="col-md-5">
        {% bootstrap_field form.address.city required_css_class='castellum-required' %}
    </div>
    <div class="col-md-4">
        {% bootstrap_field form.address.country required_css_class='castellum-required' %}
    </div>
</div>
{% bootstrap_field form.address.additional_information required_css_class='castellum-required' %}
