{% extends view.base_template|default:"subjects/base.html" %}
{% load static i18n auth recruitment django_bootstrap5 %}

{% block title %}
    {% if object %}
        {% translate "Contact" %}
    {% else %}
        {% translate "Create new subject" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" data-js="contact-completeness" autocomplete="off">
        {% include 'utils/form_errors.html' with form=form %}

        {% if not object.is_complete %}
            <p class="alert alert-warning" role="alert">{% translate "Gender and date of birth as well as at least one of email, phone number, address, or legal representative should be provided." %}</p>
        {% endif %}

        {% csrf_token %}

        {% include 'contacts/__contact_form_top.html' with form=form %}

        {% bootstrap_field form.pane show_label=False %}

        <div id="contact-self" class="mb-3" {% if form.pane.value != 'self' %}hidden{% endif %}>
            {% include 'contacts/__contact_form_self.html' with form=form %}
        </div>

        <div id="contact-legal_representatives" class="mb-3" aria-live="polite" {% if form.pane.value != 'legal_representatives' %}hidden{% endif %}>
            {% if form.legal_representatives_blocked > 0 %}
                <p class="text-muted" data-js="legal-representatives-blocked">
                    {% blocktranslate with count=form.legal_representatives_blocked %}{{ count }} legal representatives not listed because of insufficient privacy level.{% endblocktranslate %}
                </p>
            {% endif %}

            {% has_perm 'subjects.change_subject' user as can_change_subject %}
            {% if can_change_subject %}
                <template id="legal-representative-template">
                    {% include 'contacts/__legal_representative_item.html' with name=form.legal_representatives_add.name uuid='{uuid}' label='' removed=False %}
                </template>

                {% for widget in form.legal_representatives_remove %}
                    {% include 'contacts/__legal_representative_item.html' with name=form.legal_representatives_remove.name uuid=widget.data.value label=widget.choice_label legal_representative=widget.choice_label.subject removed=widget.data.selected %}
                {% endfor %}

                {% for subject in form.cleaned_data.legal_representatives_add %}
                    {% include 'contacts/__legal_representative_item.html' with name=form.legal_representatives_add.name uuid=subject.uuid label=subject label=subject.contact.full_name removed=False %}
                {% endfor %}

                <button type="button" class="btn btn-primary" data-js="legal-representative-add">{% translate 'Add legal representative' %}</button>
            {% else %}
                {% has_perm 'subjects.view_subject' user as can_view_subject %}
                {% for subject_pk, contact in form.legal_representatives %}
                    <div class="rounded-lg border text-bg-light p-3 mb-2 d-flex align-items-center">
                        <div class="flex-grow-1">
                            <div>{% translate 'Legal representative' %}</div>
                            <div class="h5 mb-0">{{ contact }}</div>
                            <input type="hidden" name="legal_representatives_remove" disabled>
                        </div>
                        {% if view.context == 'subject_management' %}
                            <a href="{% url 'subjects:detail' contact.subject.pk %}" class="btn btn-sm btn-outline-primary mx-1">{% translate 'Details' %}</a>
                        {% elif view.context == 'recruitment' %}
                            {% study_legal_representative_hash study contact.subject as hash %}
                            <a href="{% url 'recruitment:legal-representative-contact-update' study.pk participation.pk hash %}" target="_blank" class="btn btn-sm btn-outline-primary mx-1">{% translate 'Details' %}</a>
                        {% elif view.context == 'execution' %}
                            {% study_legal_representative_hash study contact.subject as hash %}
                            <a href="{% url 'execution:legal-representative-contact-update' study.pk participation.pk hash %}" target="_blank" class="btn btn-sm btn-outline-primary mx-1">{% translate 'Details' %}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/legal_representatives.js' %}"></script>
    <script src="{% static 'js/streets.js' %}"></script>
{% endblock %}
