{% load i18n auth utils %}

<ul class="table-list mt-3">
    {% for participation, buckets, can_access, recently_contacted in participations %}
        <li class="table-list-item">
            {% if can_access %}
                <div {% if participation.dropped_out or recently_contacted or participation.subject.blocked or participation.subject.deceased %}class="text-muted"{% endif %}>
                    <div>
                        <svg class="identicon my-1 me-2" data-jdenticon-value="{{ participation.pk }}" aria-label="{{ participation.pk }}"></svg>
                        {% for desc, bucket in buckets %}
                            <span class="d-inline-block my-1 me-2" title="{{ desc.label }}">{{ bucket }}</span>
                        {% endfor %}
                        {% if participation.subject.privacy_level > 0 %}
                            <span class="badge {% if participation.subject.privacy_level > study.members_min_privacy_level %}text-bg-warning{% else %}text-bg-secondary{% endif %}">
                                {% icon 'user-shield' label=_('Privacy level') %}
                                {{ participation.subject.get_effective_privacy_level }}
                                {% if participation.subject.privacy_level > study.members_min_privacy_level %}
                                    {% icon 'warning' label=_('Not all members of this study can access this subject') %}
                                {% endif %}
                            </span>
                        {% endif %}
                        {% if participation.excluded_by_cleanup %}
                            <span class="badge text-bg-secondary my-1" title="{{ participation.TOOLTIPS.excluded_by_cleanup }}">{{ participation|verbose_name:'excluded_by_cleanup' }}</span>
                        {% elif participation.status_open and participation.status != participation.NOT_CONTACTED %}
                            <span class="badge text-bg-secondary my-1" title="{{ participation.get_status_tooltip }}">{{ participation|display:'status' }}</span>
                        {% endif %}
                        {% if participation.status == participation.INVITED and session_count > 0 %}
                            <span class="badge text-bg-secondary my-1" title="{% blocktranslate with count=participation.appointment_count total=session_count %}{{ count }} out of {{ total }} appointments have already been scheduled{% endblocktranslate %}">
                                {% icon 'calendar' label=_('Appointments') %}
                                {{ participation.appointment_count }}/{{ session_count }}
                            </span>
                        {% endif %}
                        {% if participation.dropped_out %}
                            <span class="badge text-bg-secondary my-1" title="{{ participation.TOOLTIPS.dropped_out }}">{{ participation|verbose_name:'dropped_out' }}</span>
                        {% endif %}
                        {% if recently_contacted %}
                            <span class="badge text-bg-dark my-1" title="{{ participation.TOOLTIPS.recently_contacted }}">{% translate 'contacted elsewhere' %}</span>
                        {% elif participation.status_open and participation.recent_participation_count > 0 %}
                            <span class="badge text-bg-secondary my-1" title="{{ participation.TOOLTIPS.recently_active }}">{% translate 'recently active' %}</span>
                        {% endif %}
                        {% if participation.subject.blocked %}
                            <span class="badge text-bg-dark my-1" title="{{ participation.subject.TOOLTIPS.blocked }}">{{ participation.subject|verbose_name:'blocked' }}</span>
                        {% endif %}
                        {% if participation.subject.deceased %}
                            <span class="badge text-bg-dark my-1" title="{{ participation.subject.TOOLTIPS.deceased }}">{{ participation.subject|verbose_name:'deceased' }}</span>
                        {% endif %}
                    </div>

                    <div class="me-2">
                        {% if participation.status == participation.NOT_REACHED or participation.status == participation.AWAITING_RESPONSE %}
                            <div class="d-inline-block my-1 me-2">
                                {% blocktranslate count attempts=participation.attempts %}{{ attempts }} attempt{% plural %}{{ attempts }} attempts{% endblocktranslate %},
                                {% translate 'last' %}: <time>{{ participation.updated_at|longdate }}</time>
                            </div>
                        {% elif participation.status == participation.FOLLOWUP_APPOINTED %}
                            <div class="d-inline-block my-1 me-2">
                                {% if participation.followup_date|is_today %}
                                    {% if participation.followup_time %}
                                        {% blocktranslate with time=participation.followup_time|time %}
                                            today at {{ time }}
                                        {% endblocktranslate %}
                                    {% else %}
                                        {% translate 'today' %}
                                    {% endif %}
                                {% else %}
                                    {% blocktranslate with date=participation.followup_date|longdate %}
                                        on {{ date }}
                                    {% endblocktranslate %}
                                    {% if participation.followup_time %}
                                        {% blocktranslate with time=participation.followup_time|time %}
                                            at {{ time }}
                                        {% endblocktranslate %}
                                    {% endif %}
                                {% endif %}
                                {% if participation.followup_urgent %}
                                    <span class="list-icon text-bg-success">
                                        {% icon 'bell' style='regular' label=_('follow-up urgent') %}
                                    </span>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if participation.assigned_recruiter %}
                            <div class="d-inline-block my-1">
                                {% icon 'user' label=_('assigned to') %}
                                {{ participation.assigned_recruiter.user.get_full_name }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="table-list-item-actions">
                    <a class="btn btn-outline-primary my-1" href="{% url 'recruitment:contact' study.pk participation.pk %}">
                        {% if participation.status_open %}
                            {% translate 'Contact' context 'verb' %}
                        {% else %}
                            {% translate 'Review' %}
                        {% endif %}
                    </a>
                </div>
            {% else %}
                <div class="text-muted">
                    <svg class="identicon my-1 me-2" data-jdenticon-value="{{ participation.pk }}" aria-label="{{ participation.pk }}"></svg>
                    <div class="d-inline-block my-1 me-2">
                        {% translate 'insufficient privacy level' %}
                        <i class="fas fa-ban list-icon bg-danger text-light" role="img" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="table-list-item-actions">
                    {% if participation.status != participation.UNSUITABLE %}
                        <a class="btn btn-outline-danger my-1" href="{% url 'recruitment:exclude' study.pk participation.pk %}">{% translate 'Exclude' %}</a>
                    {% endif %}
                </div>
            {% endif %}
        </li>
    {% empty %}
        <li class="alert alert-warning">
            {% if view.subtab == 'open' %}
                <strong>{% translate 'No one to contact for recruitment!' %}</strong>
                {% translate 'Currently, there are no open potential subjects.' %}
                {% has_perm 'recruitment.recruit' user study as can_recruit %}
                {% if can_recruit %}
                    {% translate 'Please add a set of potential subjects using the Add button.' %}
                {% endif %}
            {% elif view.subtab == 'invited' %}
                {% blocktranslate with subjectcount=study.min_subject_count %}
                    You are still in search for {{ subjectcount }} participants.
                {% endblocktranslate %}
            {% else %}
                {% translate 'List is empty' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
