{% extends view.base_template|default:"recruitment/base.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}{% translate "Recruitment attributes" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if subject.has_unnecessary_recruitment_data %}
        <div class="alert alert-warning">
            <p>
                <strong>{% translate 'Unnecessary recruitment data' %}.</strong>
                {{ subject.TOOLTIPS.unnecessary_recruitment_data }}
            </p>
            <a href="{% url 'subjects:delete-recruitment-data' subject.pk %}" class="btn btn-warning">{% translate 'Delete all' %}</a>
        </div>
    {% endif %}

    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% for field, answer_declined in uncategorized %}
            <div class="mb-3">
                {% bootstrap_field field wrapper_class="" %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="{{ field.name }}_answer_declined" id="{{ field.id_for_label }}_answer_declined" data-js="answer-declined" data-target="{{ field.id_for_label }}" {% if answer_declined %}checked{% endif %}>
                    <label class="form-check-label" for="{{ field.id_for_label }}_answer_declined">{% translate 'Declined to answer' %}</label>
                </div>
            </div>
        {% endfor %}

        {% for category, fields in categories.items %}
            <fieldset>
                <legend>{{ category }}</legend>
                {% for field, answer_declined in fields %}
                    <div class="mb-3">
                        {% bootstrap_field field wrapper_class="" %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="{{ field.name }}_answer_declined" id="{{ field.id_for_label }}_answer_declined" data-js="answer-declined" data-target="{{ field.id_for_label }}" {% if answer_declined %}checked{% endif %}>
                            <label class="form-check-label" for="{{ field.id_for_label }}_answer_declined">{% translate 'Declined to answer' %}</label>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        {% endfor %}

        {% bootstrap_field form.study_type_disinterest %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/answer_declined.js' %}"></script>
{% endblock %}
