{% extends "base_with_breadcrumbs.html" %}

{% load i18n %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'studies:index' %}">{% translate "Studies" %}</a></li>
    {% if study %}
        <li class="breadcrumb-item"><a {% if study.status == study.EXECUTION %}href="{% url 'recruitment:recruitment-open' study.pk %}"{% endif %}>{% translate 'Recruitment for' %} {{ study.name }}</a></li>
    {% endif %}
    {% if participation %}
        <li class="breadcrumb-item"><a {% if study.status == study.EXECUTION %}href="{% url 'recruitment:contact' study.pk participation.pk %}"{% endif %}>{{ participation.subject.contact.short_name }}</a></li>
    {% endif %}
{% endblock %}
