{% extends "recruitment/recruitment_base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate "Recruitment" %} &middot; {{ study }} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate 'Cleanup' %}</h2>
    <ul>
        <li>{% translate 'The selected entries will be marked as excluded.' %}</li>
        <li>{% translate 'The selected entries will also get an "excluded by cleanup" badge so you can distinguish them from manually excluded ones.' %}</li>
        <li>{% translate 'Entries that have a follow-up scheduled will never be cleaned up automatically.' %}</li>
    </ul>
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        <div class="card-group mb-3">
            <div class="card">
                <div class="card-body">
                    {% translate 'All open participations.' %}
                </div>
                <div class="card-footer">
                    {% with querysets.all.count as count %}
                        <button name="action" value="all" class="btn btn-danger d-block w-100" {% if count == 0 %}disabled{% endif %}>{% translate 'All' %} ({{ count }})</button>
                    {% endwith %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {% translate 'All subjects that have been in "awaiting response" status for 10 days or more.' %}
                </div>
                <div class="card-footer">
                    {% with querysets.awaiting_response.count as count %}
                        <button name="action" value="awaiting_response" class="btn btn-danger d-block w-100" {% if count == 0 %}disabled{% endif %}>{% translate 'Awaiting response' %} ({{ count }})</button>
                    {% endwith %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {% translate 'All subjects who do not match the current filter criteria, do not have recruitment consent, or who are blocked in other studies.' %}
                </div>
                <div class="card-footer">
                    {% with querysets.mismatch.count as count %}
                        <button name="action" value="mismatch" class="btn btn-danger d-block w-100" {% if count == 0 %}disabled{% endif %}>{% translate 'Unsuitable' %} ({{ count }})</button>
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="d-print-none mb-3">
            <a class="btn btn-outline-primary" href="{% url 'recruitment:recruitment-open' study.pk %}">{% translate 'Cancel' %}</a>
        </div>
    </form>
{% endblock %}
