{% extends view.base_template|default:"recruitment/base.html" %}
{% load i18n utils %}

{% block title %}{% translate "Send reminder" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if not study.mail_body %}
        <p class="alert alert-danger">{% translate "Mail recruitment has not been set up!" %}</p>
    {% else %}
        <p>
            {% blocktranslate with no_response_size=object.participation_set.count contacted_size=object.contacted_size %}
                Send reminder to {{ no_response_size }}/{{ contacted_size }} potential subjects.
            {% endblocktranslate %}
        </p>

        <form method="post">
            {% include 'utils/form_errors.html' with form=form %}
            {% csrf_token %}
            <div class="mb-3">
                <label class="d-block">
                    {{ study|verbose_name:'mail_subject' }}
                    <input readonly class="form-control" value="{{ mail_subject }}">
                </label>
            </div>
            <div class="mb-3">
                <label class="d-block">
                    {{ study|verbose_name:'mail_body' }}
                    <textarea readonly class="form-control">{{ study.mail_body }}</textarea>
                </label>
            </div>

            <div class="d-print-none mb-3">
                <a href="{% url 'recruitment:mail' study.pk %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
                <button class="btn btn-primary">{% translate 'Send' %}</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
