{% extends "recruitment/base.html" %}
{% load i18n %}

{% block title %}{% translate "Cleanup" context 'verb' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktranslate with count=object.participation_set.count date=object.datetime|date %}Are you sure you want to move {{ count }} pending participations that belong to the batch that was sent on {{ date }} to the "excluded"-tab?{% endblocktranslate %}</p>
        <div class="d-print-none mb-3">
            <a href="{% url 'recruitment:mail' study.pk %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
