{% extends view.base_template|default:"recruitment/recruitment_base.html" %}
{% load i18n auth django_bootstrap5 humanize utils %}

{% block title %}{% translate "Mail recruitment" %} &middot; {{ block.super }}{% endblock %}

{% block content %}

    {% if not study.mail_body %}
        <p class="alert alert-danger">{% translate "Mail recruitment has not been set up!" %}</p>
    {% else %}
        <form method="post">
            {% include 'utils/form_errors.html' with form=form %}
            {% csrf_token %}

            <div class="mb-3">
                <label class="d-block">
                    {{ study|verbose_name:'mail_subject' }}
                    <input readonly class="form-control" value="{{ study.mail_subject }}">
                </label>
            </div>
            <div class="mb-3">
                <label class="d-block">
                    {{ study|verbose_name:'mail_body' }}
                    <textarea readonly class="form-control">{{ study.mail_body }}</textarea>
                </label>
            </div>

            {% bootstrap_field form.batch_size %}

            <div class="mb-3">
                <button class="btn btn-primary">{% translate 'Send' %}</button>
            </div>
        </form>
    {% endif %}

    {% if batches %}
        <h3 class="mt-5">{% translate "Previous mails" %}</h3>
        <ul class="table-list mb-3">
        {% for batch in batches reversed %}
            <li class="table-list-item">
                <div>
                    <small class="text-muted">
                        {% blocktranslate with datetime=batch.datetime|longdate counter=forloop.revcounter|ordinal %}
                            {{ counter }} group contacted on {{ datetime }}
                        {% endblocktranslate %}
                        {% if batch.reminded %}
                            {% blocktranslate with datetime=batch.reminded|longdate %}
                                and reminded on {{ datetime }}
                            {% endblocktranslate %}
                        {% endif %}
                    </small>
                    <div>
                        {% blocktranslate with contacted_size=batch.contacted_size no_response_size=batch.no_response_size %}
                            still awaiting response for {{ no_response_size }}/{{ contacted_size }} potential subjects
                        {% endblocktranslate %}
                    </div>
                </div>
                <div class="table-list-item-actions">
                    {% if batch.no_response_size %}
                        {% if not batch.reminded %}
                            <a href="{% url 'recruitment:mail-remind' study.pk batch.pk %}" class="btn btn-outline-primary">
                                {% translate 'Send reminder' %}…
                            </a>
                        {% endif %}
                        <a href="{% url 'recruitment:mail-cleanup' study.pk batch.pk %}" class="btn btn-outline-danger">{% translate 'Cleanup' %}</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
