{% extends "execution/participation_base.html" %}
{% load i18n utils %}

{% block title %}{% translate 'Pseudonyms' %} &middot; {{ block.super }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{% translate 'Domain key' %}</th>
                <th>{% translate 'Domain name' %}</th>
                <th>{% translate 'Pseudonym' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
                <tr>
                    <td>{{ domain|display:'key' }}</dt>
                    <td>{{ domain|display:'name' }}</dt>
                    <td>
                        <a href="{% url 'execution:participation-pseudonym' study.pk view.kwargs.pk domain.key %}" data-js="replace-me" class="btn btn-sm btn-secondary">
                            {% translate 'get pseudonym' %}
                        </a>
                    </dt>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3"><em>{% translate 'No domains' %}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
