{% extends "execution/participation_base.html" %}
{% load i18n %}

{% block title %}{% translate "Dropped out" context 'verb' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% translate 'Are you sure you want to remove this participation?' %}</p>
        <label class="form-check">
            <input type="checkbox" class="form-check-input" data-js="confirm-delete">
            <span class="form-check-label">{% translate "I have made sure that all external data related to this study participation has been destroyed" %}</span>
        </label>
        <div class="d-print-none mb-3">
            <a href="{% url 'execution:participation-detail' study.pk object.pk %}" class="btn btn-outline-primary" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger" disabled>{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
