{% extends "execution/study_base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate 'Export' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="get">
        {% include 'utils/form_errors.html' with form=form %}
        {% bootstrap_field form.domain %}
        <button class="btn btn-primary">{% translate 'Export' %}</button>
    </form>
{% endblock %}
