{% extends "studies/study_domains_base.html" %}
{% load i18n auth django_bootstrap5 utils %}

{% block title %}{% translate "Delete" %} &middot; {% translate "Study domains" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktranslate %}Are you sure you want to <strong>permanently delete</strong> the domain "{{ object }}" and all related pseudonyms?{% endblocktranslate %}</p>
        <p>{% translate "Once a pseudonym is deleted, it is no longer possible to find the corresponding contact information. Note, however, that additional steps might be necessary for full anonymization of scientific data (e.g. image data)." %}</p>
        <p>{% translate "The date when a domain should be deleted is usually defined in the ethics application and the study consent form." %}</p>

        <label class="form-check">
            <input type="checkbox" class="form-check-input" data-js="confirm-delete">
            <span class="form-check-label">{% translate "I understand that I will no longer be able to find subjects based on pseudonyms from this domain." %}</span>
        </label>
        <div class="d-print-none mb-3">
            <a href="{% url 'studies:domains' study.pk %}" class="btn btn-outline-primary" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger" disabled>{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
