{% extends view.base_template|default:"studies/study_recruitmentsettings_base.html" %}
{% load static i18n django_bootstrap5 utils %}

{% block title %}{% translate "Filters" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if not study.advanced_filtering %}
        {% include 'studies/__filtergroup_common.html' %}
    {% endif %}

    {% for pk, form in templates.items %}
        <template id="template-{{ pk }}">
            {{ form.description.as_hidden }}

            <legend class="col-sm-12 h6">
                {{ form.desc.filter_label }}
            </legend>

            {% if form.operator.field.choices|length > 1 %}
                <div class="col-sm-4">
                    {% bootstrap_field form.operator show_label=False %}
                </div>
            {% else %}
                <input type="hidden" name="{{ form.prefix }}-operator" value="exact">
            {% endif %}
            <div class="col-sm">
                {% bootstrap_field form.value show_label=False %}
            </div>

            <div class="col-sm flex-grow-0">
                <button type="button" class="btn btn-danger" data-js="filter-delete">{% translate 'Delete' %}</button>
            </div>
        </template>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <span title="{% translate 'Subjects must match all of the following filters.' %}">
                    {% translate 'All of these' %}
                </span>
                <span class="text-end" title="{% translate 'required' %}: {{ study.min_subject_count }} {% translate 'total' %}: {{ total_count }}" aria-label="{% blocktranslate %}{{ count }} potential subjects{% endblocktranslate %}">
                    {% blocktranslate %}{{ count }} potential subjects{% endblocktranslate %}
                </span>
            </div>

            <div class="card-body">
                {% for error in formset.non_form_errors %}
                    <p class="alert alert-danger" role="alert">{{ error }}</p>
                {% endfor %}

                <div id="filter-forms">
                    {% for form in formset %}
                        <fieldset class="row gx-2 mb-3" {% if form.DELETE.value %}hidden{% endif %}>
                            {{ form.id.as_hidden }}
                            {{ form.DELETE.as_hidden }}
                            {{ form.description.as_hidden }}

                            <legend class="col-sm-12 h6">
                                {{ form.desc.filter_label }}
                            </legend>

                            {% if form.operator.field.choices|length > 1 %}
                                <div class="col-sm-4">
                                    {% bootstrap_field form.operator show_label=False %}
                                </div>
                            {% else %}
                                <input type="hidden" name="{{ form.prefix }}-operator" value="exact">
                            {% endif %}
                            <div class="col-sm">
                                {% bootstrap_field form.value show_label=False %}
                            </div>

                            <div class="col-sm flex-grow-0">
                                <button type="button" class="btn btn-danger" data-js="filter-delete">{% translate 'Delete' %}</button>
                            </div>
                        </fieldset>
                    {% endfor %}
                </div>

                <div class="row gx-2">
                    <div class="col-sm-4">
                        {% bootstrap_field add_form.description show_label=False %}
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn btn-primary" data-js="filter-add">{% translate "Add" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Apply' %}</button>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}
