{% extends "studies/base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate 'Import' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate 'Import study' %}</h2>
    <form enctype="multipart/form-data" method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.file %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Import' %}</button>
        </div>
    </form>
{% endblock %}
