{% extends "studies/study_base.html" %}
{% load static i18n auth django_bootstrap5 %}

{% block title %}{% translate "Sessions" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if study.status != study.EDIT %}
        <p class="alert alert-warning">
            {% translate 'Please note that study recruitment has already been started. Therefore, editing session settings may lead to unexpected results for existing appointments.' %}
        </p>
    {% endif %}

    <ul class="table-list mb-3">
        {% for session in sessions %}
            <li class="table-list-item">
                <div class="h4 d-inline-block my-1 me-2">
                    {{ session.name }}
                </div>
                <span class="my-1 me-2">{{ session.duration }}{% translate 'min' %}</span>
                {% for type in session.type.all %}
                    <span class="badge text-bg-secondary my-1 me-1">{{ type }}</span>
                {% endfor %}
                {% for resource in session.resources.all %}
                    <span class="badge text-bg-primary my-1 me-1">{{ resource }}</span>
                {% endfor %}
                <div class="table-list-item-actions">
                    <a class="btn btn-outline-primary my-1" href="{% url 'studies:session-update' study.pk session.pk %}">{% translate 'Edit' %}</a>
                    <a class="btn btn-outline-danger my-1" href="{% url 'studies:session-delete' study.pk session.pk %}">{% translate 'Delete' %}</a>
                </div>
            </li>
        {% empty %}
            <li class="alert alert-info m-0">
                {% translate 'No sessions' %}
            </li>
        {% endfor %}
    </ul>

    <div class="mb-5">
        <a href="{% url 'studies:session-create' study.pk %}" class="btn btn-primary">
            {% translate "Add session" %}
        </a>
    </div>

    <form class="card mb-3" method="post">
        <div role="heading" aria-level="2" class="card-header">
            {% translate "General Info" %}
        </div>
        <div class="card-body">
            {% include 'utils/form_errors.html' with form=form %}
            {% csrf_token %}

            <fieldset class="row gx-2">
                <div class="col-md-6">
                    {% bootstrap_field form.sessions_start %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.sessions_end %}
                </div>
            </fieldset>

            {% bootstrap_field form.session_instructions %}

            <div class="d-print-none">
                <button class="btn btn-primary">{% translate 'Save' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
