{% extends "studies/study_domains_base.html" %}
{% load i18n auth django_bootstrap5 utils %}

{% block title %}{% translate "Study domains" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <p>{% translate 'Pseudonyms allow you to store data about subjects without their names and other identifying data. Often it is sufficient to have one pseudonym per subject and study. However, if you need more than that you can create additional pseudonym domains. Note that a pseudonym is only meaningful in combination with its domain.' %}</p>
    <ul class="p-0">
        {% for domain in study.domains.all %}
            <li class="d-block">
                <form method="post" class="row g-2 mb-3">
                    <div class="col col-md-6">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="name">
                        <input type="hidden" name="domain" value="{{ domain.key }}">
                        <label class="d-block">
                            <span class="visually-hidden">{{ domain|verbose_name:'name' }}</span>
                            <input type="text" name="name" maxlength="64" class="form-control" placeholder="{{ domain.key }}" value="{{ domain.name }}">
                        </label>
                    </div>
                    <div class="col-md">
                        <label class="input-group">
                            <span class="visually-hidden">{{ domain|verbose_name:'key' }}</span>
                            <input id="domain_key_{{ domain.key }}" class="form-control text-truncate" value="{{ domain.key }}" readonly>
                            <button type="button" class="btn btn-outline-secondary" tabindex="-1" data-clipboard="#domain_key_{{ domain.key }}" data-animation="success" title="{% translate 'Copy key' %}">
                                {% icon 'copy' label=_('Copy key') %}
                            </button>
                        </label>
                    </div>
                    <div class="col flex-grow-0">
                        <button class="btn btn-secondary">{% translate 'Save' %}</button>
                    </div>
                    <div class="col flex-grow-0">
                        <a href="{% url 'studies:domain-delete' study.pk domain.key %}" class="btn btn-danger">{% translate 'Delete' %}</a>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form method="post" class="d-print-none mb-3">
        {% csrf_token %}
        <input type="hidden" name="action" value="add">
        <button class="btn btn-primary">{% translate 'Add domain' %}</button>
    </form>
{% endblock %}
