{% extends "studies/study_base.html" %}
{% load i18n django_bootstrap5 %}

{% block container_class %}{% endblock %}

{% block title %}{% translate "Member management" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <table class="table w-auto mx-auto">
        <thead>
            <tr>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Global groups" %}</th>
                <th>{% translate "Privacy level" %}</th>
                {% for value, label in form.groups.field.choices %}
                    <th>{{ label }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for form in membership_forms %}
                <tr>
                    <td class="align-middle">
                        <div class="font-weight-bold">{{ form.instance.user.get_full_name }}</div>
                        <form method="post" id="membership-form-{{ form.instance.pk }}">
                            {% csrf_token %}
                            <input type="hidden" name="membership" value="{{ form.instance.pk }}">
                        </form>
                    </td>
                    <td class="align-middle">
                        <small>{% for group in form.instance.user.groups.all %}{{ group }}<br>{% endfor %}</small>
                    </td>
                    <td class="align-middle text-center">{{ form.instance.user.get_privacy_level }}</td>
                    {% for value, label in form.groups.field.choices %}
                        <td class="align-middle text-center">
                            <input type="checkbox" class="form-check-input" name="{{ form.groups.name }}" value="{{ value }}" form="membership-form-{{ form.instance.pk }}" {% if value in form.groups.value %}checked{% endif %}>
                        </td>
                    {% endfor %}
                    <td class="align-middle">
                        <button class="btn btn-primary" form="membership-form-{{ form.instance.pk }}">{% translate 'Save' %}</button>
                        <a href="{% url 'studies:delete-member' object.pk form.instance.pk %}" class="btn btn-outline-danger my-1 {% if form.instance.user == user %}disabled{% endif %}">{% translate 'Remove' %}</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="align-middle" colspan="3">
                    <form method="post" id="membership-form-add">
                        {% csrf_token %}
                        <div data-js="d-select2">
                            {% bootstrap_field form.users show_label=False wrapper_class='' %}
                        </div>
                    </form>
                </td>
                {% for value, label in form.groups.field.choices %}
                    <td class="align-middle text-center">
                        <input type="checkbox" class="form-check-input" name="{{ form.groups.name }}" value="{{ value }}" form="membership-form-add">
                    </td>
                {% endfor %}
                <td class="align-middle">
                    <button class="btn btn-primary" form="membership-form-add">{% translate 'Add' %}</button>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
