{% extends "studies/base.html" %}
{% load i18n auth utils %}

{% block title %}{{ study }} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'studies:detail' study.pk %}">{{ study.name }}</a></li>
{% endblock %}

{% block header %}
    <div class="container text-center my-4">
        <div>
            <h1>{{ study }}</h1>
            {% for tag in study.tags.all %}
                <span class="badge text-bg-info">{{ tag }}</span>
            {% endfor %}
            {% if study.is_started %}
                <span class="badge text-bg-secondary" title="{% translate 'Recruitment and execution for this study have started.' %}">{% translate 'Started' %}</span>
            {% endif %}
            {% if study.status == study.FINISHED %}
                <span class="badge text-bg-secondary" title="{% translate 'Recruitment and execution for this study have ended.' %}">{% translate 'Finished' %}</span>
            {% endif %}

            <p class="text-muted mt-2">
                <span class="d-block">{% translate 'Contact' %}: {{ study.contact_person }}</span>
                <span class="d-inline-block mx-2">
                    {% icon 'envelope' label=study|verbose_name:'email' %}
                    <a href="mailto:{{ study.email }}" class="text-reset">{{ study.email }}</a>
                </span>
                <span class="d-inline-block mx-2">
                    {% icon 'phone' label=study|verbose_name:'phone' %}
                    <a href="tel:{{ study.phone }}" class="text-reset">{{ study|display:'phone' }}</a>
                </span>
            </p>
        </div>
        <div class="d-print-none">
            {% has_perm 'studies.change_study' user as can_add_study %}
            {% has_perm 'studies.access_study' user study as can_access_study %}
            {% has_perm 'studies.change_study' user study as can_change_study %}
            {% has_perm 'studies.delete_study' user study as can_delete_study %}
            {% has_perm 'studies.approve_study' user as can_approve_study %}
            {% if can_access_study %}
                {% if can_approve_study %}
                    {% if study.status != study.FINISHED %}
                        <form class="d-inline" method="post" action="{% url 'studies:start' study.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            {% if study.status == study.EXECUTION %}
                                <button class="btn btn-outline-primary active mb-1" title="{% translate 'Stop recruitment and execution for this study' %}">
                                    {% translate 'Stop' %}
                                </button>
                            {% else %}
                                <button class="btn btn-outline-primary mb-1" title="{% translate 'Start recruitment and execution for this study' %}">
                                    {% translate 'Start' %}
                                </button>
                            {% endif %}
                        </form>
                    {% else %}
                        <form class="d-inline">
                            {% if study.previous_status == study.EXECUTION %}
                                <button class="btn btn-outline-primary active mb-1" title="{% translate 'Stop recruitment and execution for this study' %}" disabled>
                                    {% translate 'Stop' %}
                                </button>
                            {% else %}
                                <button class="btn btn-outline-primary mb-1" title="{% translate 'Start recruitment and execution for this study' %}" disabled>
                                    {% translate 'Start' %}
                                </button>
                            {% endif %}
                        </form>
                    {% endif %}
                {% endif %}
                {% if can_change_study %}
                    <form class="d-inline" method="post" action="{% url 'studies:finish' study.pk %}">
                        {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">

                        {% if study.status == study.FINISHED %}
                            <button class="btn btn-outline-primary active mb-1" title="{% translate 'Resume recruitment and execution for this study' %}">
                                {% translate 'Resume study' %}
                            </button>
                        {% else %}
                            <button class="btn btn-outline-primary mb-1" title="{% translate 'Conclude recruitment and execution for this study' %}">
                                {% translate 'Finish study' %}
                            </button>
                        {% endif %}
                    </form>
                    {% if can_add_study %}
                        <a href="{% url 'studies:create' %}?duplicate_pk={{ study.pk }}" class="btn btn-outline-primary mb-1">{% translate 'Duplicate' %}</a>
                    {% endif %}
                {% endif %}
                {% if CASTELLUM_ENABLE_STUDY_EXPORT %}
                    <a href="{% url 'studies:export' study.pk %}" class="btn btn-outline-primary mb-1">{% translate 'Export' %}</a>
                {% endif %}
                {% if study.status == study.FINISHED and can_delete_study %}
                    <a href="{% url 'studies:delete' study.pk %}" class="btn btn-danger mb-1">{% translate 'Delete' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <nav class="d-print-none" aria-label="{% translate 'Tabs' %}">
        {% has_perm 'studies.access_study' user study as can_access_study %}
        {% has_perm 'studies.change_study' user study as can_change_study %}

        <ul class="nav nav-tabs justify-content-center mb-3">
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'detail' %}active{% endif %}" href="{% url 'studies:detail' study.pk %}">{% translate 'Overview' %}</a>
            </li>

            {% if can_access_study and can_change_study %}
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'update' %}active{% endif %}" href="{% url 'studies:update' study.pk %}">{% translate 'General' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'members' %}active{% endif %}" href="{% url 'studies:members' study.pk %}">{% translate 'Member management' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'consent' %}active{% endif %}" href="{% url 'studies:consent' study.pk %}">{% translate 'Consent' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'domains' %}active{% endif %}" href="{% url 'studies:domains' study.pk %}">{% translate 'Pseudonym domains' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'sessions' %}active{% endif %}" href="{% url 'studies:sessions' study.pk %}">{% translate 'Sessions' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'recruitmentsettings' %}active{% endif %}" href="{% url 'studies:recruitmentsettings' study.pk %}">{% translate 'Recruitment Settings' %}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
