{% extends "studies/study_base.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}{% translate "Sessions" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate 'Session details' %}</h2>
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.name required_css_class='castellum-required' %}
        {% bootstrap_field form.duration required_css_class='castellum-required' %}
        {% if has_resources %}
            <div data-js="d-select2">
                {% bootstrap_field form.resources required_css_class='castellum-required' %}
            </div>
        {% else %}
            {{ form.resources.as_hidden }}
        {% endif %}
        {% bootstrap_field form.type required_css_class='castellum-required' %}
        {% bootstrap_field form.reminder_text required_css_class='castellum-required' %}
        {% bootstrap_field form.reminders_enabled required_css_class='castellum-required' %}
        {% if SCHEDULER_URL and object %}
            <div class="mb-3">
                {% bootstrap_field form.schedule_id wrapper_class="" required_css_class='castellum-required' %}
                {% if object.schedule_id %}
                    <a href="{{ schedule_url }}" target="_blank">{% translate 'Go to schedule' %}</a>
                {% else %}
                    <a href="{{ SCHEDULER_URL }}" target="_blank">{% translate 'New schedule' %}</a>
                {% endif %}
            </div>
        {% else %}
            {{ form.schedule_id.as_hidden }}
        {% endif %}

        <div class="d-print-none mb-3">
            <a href="{% url 'studies:sessions' study.pk %}" class="btn btn-outline-primary my-1" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary my-1">{% translate 'Save' %}</button>
            {% if object.pk %}
                <button class="btn btn-secondary my-1" formaction="{% url 'studies:testmail-reminder' study.pk object.pk %}">{% translate 'Send test mail to myself' %}</button>
            {% endif %}
        </div>
    </form>
{% endblock %}
