{% extends view.base_template|default:"studies/study_recruitmentsettings_base.html" %}
{% load i18n auth django_bootstrap5 %}

{% block title %}{% translate "Excluded studies" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="card mb-3">
            <div class="card-header text-end">
                <span title="{% translate 'required' %}: {{ study.min_subject_count }} {% translate 'total' %}: {{ total_count }}" aria-label="{% blocktranslate %}{{ count }} potential subjects{% endblocktranslate %}">
                    {% blocktranslate %}{{ count }} potential subjects{% endblocktranslate %}
                </span>
            </div>

            <div class="card-body">
                <div data-js="d-select2-clear">
                    {{ form.excluded_studies }}
                </div>
                <div class="form-text">{% translate 'Participants from excluded studies will be excluded from recruitment for this study.' %}</div>
                {% if related_studies %}
                    <div class="form-text">
                        {% translate 'Studies in which potential subjects have participated' %}:
                        {% for study in related_studies %}
                            {{ study }} ({{ study.count }}){% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
