{% extends "studies/study_base.html" %}
{% load i18n auth utils %}

{% block content %}
    <h3 class="h5">{% translate "General" %}</h3>

    <dl class="row">
        <dt class="col-sm-6">{{ object|verbose_name:'principal_investigator' }}</dt>
        <dd class="col-sm-6">{{ object|display:'principal_investigator' }}</dd>

        <dt class="col-sm-6">{% translate 'Members' %}</dt>
        <dd class="col-sm-6">
            {% for member in object.members.all %}
                {{ member.get_full_name }}{% if not forloop.last %},{% endif %}
            {% empty%}
                &mdash;
            {% endfor %}
        </dd>

        <dt class="col-sm-6">{% translate 'Consent document uploaded' %}</dt>
        <dd class="col-sm-6">{% if object.consent %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
    </dl>

    <h3 class="h5">{% translate "Sessions" %}</h3>
    <dl class="row">
        <dt class="col-sm-6">{% translate 'Count' %}</dt>
        <dd class="col-sm-6">{{ object.studysession_set.count }}</dd>

        <dt class="col-sm-6">{% translate 'Types of sessions' %}</dt>
        <dd class="col-sm-6">{{ object|display:'study_type' }}</dd>

        <dt class="col-sm-6">{% translate 'Scheduled runtime' %}</dt>
        <dd class="col-sm-6">
            {% if object.sessions_start and object.sessions_end %}
                {{ object.sessions_start }} - {{ object.sessions_end }}
            {% elif object.sessions_start %}
                {{ object.sessions_start }} - {% translate 'not defined' %}
            {% else %}
                &mdash;
            {% endif %}
        </dd>
    </dl>

    <h3 class="h5">{% translate "Recruitment settings" %}</h3>
    <dl class="row">
        <dt class="col-sm-6">{% translate 'Participating subjects' %}</dt>
        <dd class="col-sm-6">{{ object.invited_count }}/{{ object.min_subject_count }}</dd>

        <dt class="col-sm-6">{% translate 'Potential subjects' %}</dt>
        <dd class="col-sm-6">{{ potential_count }}</dd>

        <dt class="col-sm-6">{% translate 'Studies in which potential subjects have participated' %}</dt>
        <dd class="col-sm-6">
            {% for study in related_studies %}
                {{ study }} ({{ study.count }}){% if not forloop.last %},{% endif %}
            {% empty %}
                &mdash;
            {% endfor %}
        </dd>

        <dt class="col-sm-6">{% translate 'Recruitment text provided' %}</dt>
        <dd class="col-sm-6">{% if object.recruitment_text %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>

        <dt class="col-sm-6">{% translate 'Recruitment filters set' %}</dt>
        <dd class="col-sm-6">{% if study.has_filters %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
    </dl>

    {% has_perm 'studies.change_study' user study as can_change_study %}
    {% if study.has_missing_values and can_access_study and can_change_study %}
        <p class="alert alert-warning" role="alert">
            {% translate 'Please double check missing entries before start of recruitment' %}
        </p>
    {% endif %}

    <h3 class="h5">{% translate "Description" %}</h3>
    {{ study.description|default:'—'|urlize|linebreaks }}
{% endblock %}
