{% extends view.base_template|default:"studies/base.html" %}
{% load static i18n django_bootstrap5 utils %}

{% block title %}
    {% if object %}
        {% translate "Edit" %}
    {% else %}
        {% translate "Create new study" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" {% if not object %}action="{% url 'studies:create' %}{% if duplicate %}?duplicate_pk={{ duplicate.pk }}{% endif %}"{% endif %}>
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.name required_css_class='castellum-required' %}
        {% bootstrap_field form.principal_investigator required_css_class='castellum-required' %}
        {% bootstrap_field form.contact_person required_css_class='castellum-required' %}
        {% bootstrap_field form.phone required_css_class='castellum-required' %}
        {% bootstrap_field form.email required_css_class='castellum-required' %}
        {% bootstrap_field form.min_subject_count required_css_class='castellum-required' %}

        {% bootstrap_field form.description required_css_class='castellum-required' %}
        {% bootstrap_field form.tags required_css_class='castellum-required' %}
        {% bootstrap_field form.affiliated_scientists required_css_class='castellum-required' %}
        {% bootstrap_field form.affiliated_research_assistants required_css_class='castellum-required' %}

        <div data-js="d-select2">
            {% bootstrap_field form.exportable_attributes required_css_class='castellum-required' %}
        </div>

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
