{% extends "studies/study_base.html" %}
{% load i18n auth %}

{% block container_class %}container-lg{% endblock %}

{% block content_with_messages %}
    <div class="row">
        <div class="col-md-3">
            <nav class="list-group mb-3" aria-label="{% translate 'Subtabs' %}">
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'update' %}active{% endif %}" href="{% url 'studies:recruitmentsettings' study.pk %}">{% translate 'General' %}</a>

                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'filters' %}active{% endif %}" href="{% url 'studies:filtergroup-index' study.pk %}">
                    {% translate 'Filters' %}
                </a>

                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'excluded-studies' %}active{% endif %}" href="{% url 'studies:excluded-studies' study.pk %}">{% translate 'Excluded studies' %}</a>
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'mailsettings' %}active{% endif %}" href="{% url 'studies:mailsettings' study.pk %}">{% translate 'Mail Settings' %}</a>
            </nav>
        </div>

        <div class="col-md-9">
            {% if study.status != study.EDIT %}
                <p class="alert alert-warning">
                    {% translate 'Please note that study recruitment has already been started. Therefore, editing recruitment settings may result in inconsistent suggestions for potential subjects.' %}
                </p>
            {% endif %}
            {{ block.super }}
        </div>
    </div>
{% endblock %}
