{% extends "studies/base.html" %}
{% load i18n static auth django_bootstrap5 utils %}

{% block title %}{% translate "Studies" %} &middot; {{ block.super }}{% endblock %}

{% block container_class %}container-lg{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <form method="get" class="text-bg-light p-3 mb-2" aria-label="{% translate 'Filter' %}">
                <div class="input-group mb-4">
                    <input type="search" class="form-control" name="{{ form.q.name }}" value="{{ form.cleaned_data.q }}" placeholder="{{ form.q.label }}">
                    <button class="btn btn-primary">{% translate 'Go' %}</button>
                </div>
                <hr>
                <fieldset>
                    <legend class="h6">{% translate 'Membership' %}</legend>
                    {% for value, label in form.member.field.choices %}
                        <label class="form-check">
                            <input type="radio" name="member" value="{{ value }}" class="form-check-input" {% if form.cleaned_data.member == value|lower %}checked{% endif %}>
                            <span class="form-check-label">{{ label }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
                <hr>
                <fieldset>
                    <legend class="h6">{{ form.status.label }}</legend>
                    <label class="form-check">
                        <input type="radio" name="status" value="" class="form-check-input" {% if not form.status.value %}checked{% endif %}>
                        <span class="form-check-label">{% translate 'All' %}</span>
                    </label>
                    {% for value, label in form.status.field.choices %}
                        <label class="form-check">
                            <input type="radio" name="status" value="{{ value }}" class="form-check-input" {% if form.cleaned_data.status == value|lower %}checked{% endif %}>
                            <span class="form-check-label">{{ label }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
                <hr>
                <fieldset>
                    <legend class="h6">{{ form.type.label }}</legend>
                    <label class="form-check">
                        <input type="radio" name="type" value="{{ value }}" class="form-check-input" {% if not form.type.value %}checked{% endif %}>
                        <span class="form-check-label">{% translate 'All' %}</span>
                    </label>
                    {% for value, label in form.type.field.choices %}
                        <label class="form-check">
                            <input type="radio" name="type" value="{{ value }}" class="form-check-input" {% if form.type.value == value|lower %}checked{% endif %}>
                            <span class="form-check-label">{{ label }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
                <button class="btn btn-primary mt-3">{% translate 'Apply' %}</button>
            </form>
        </div>

        <div class="col-md-9">
            {% has_perm 'studies.change_study' user as can_add_study %}
            {% if can_add_study %}
                <div class="d-print-none text-end mb-3">
                    <a href="{% url 'studies:create' %}" class="btn btn-primary mb-1">{% translate "Create new study" %}</a>
                    {% if CASTELLUM_ENABLE_STUDY_EXPORT %}
                        <a href="{% url 'studies:import' %}" class="btn btn-secondary mb-1">{% translate "Import study" %}</a>
                    {% endif %}
                    <form class="d-inline-block" action="{% url 'studies:create-filter-trial' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary mb-1">{% translate 'Try filters' %}</button>
                    </form>
                </div>
            {% endif %}

            <ul class="nav nav-tabs mb-2">
                {% for value, label in form.display.field.choices %}
                    <li class="nav-item">
                        <a href="{% url_replace_param display=value %}" class="nav-link {% if form.cleaned_data.display == value %}active{% endif %}">{{ label }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% if form.cleaned_data.display == 'calendar' %}
                <div class="my-5" data-js="calendar" data-layout="year"></div>
            {% else %}
                <ul class="table-list mb-3">
                    {% for study in object_list %}
                        <li class="table-list-item">
                            <div>
                                <div class="h4 d-inline-block my-1 me-2">{{ study.name }}</div>
                                <div class="d-inline-block my-1 me-2">{{ study.contact_person }}</div>
                                {% for tag in study.tags.all %}
                                    <span class="badge text-bg-info">{{ tag }}</span>
                                {% endfor %}
                                {% if study.status == study.FINISHED %}
                                    <span class="badge text-bg-secondary" title="{% translate 'Recruitment and execution for this study have ended.' %}">{% translate 'Finished' %}</span>
                                {% endif %}
                            </div>
                            <div class="table-list-item-actions">
                                {% has_perm 'studies.access_study' user study as can_access %}
                                {% if can_access and study.status == study.EXECUTION %}
                                    {% has_perm 'recruitment.recruit' user study as can_recruit %}
                                    {% if can_recruit %}
                                        <a class="btn btn-outline-primary my-1" href="{% url 'recruitment:recruitment-open' study.pk %}">{% translate 'Recruitment' %}</a>
                                    {% endif %}

                                    {% has_perm 'recruitment.conduct_study' user study as can_conduct %}
                                    {% if can_conduct %}
                                        <a class="btn btn-outline-primary my-1" href="{% url 'execution:participation-list' study.pk %}">{% translate 'Execution' %}</a>
                                    {% endif %}
                                {% endif %}

                                {% has_perm 'studies.view_study' user study as can_view_study %}
                                {% if can_view_study %}
                                    <a class="btn btn-outline-primary my-1" href="{% url 'studies:detail' study.pk %}">{% translate 'Details' %}</a>
                                {% endif %}
                            </div>
                        </li>
                    {% empty %}
                        <li class="alert alert-warning">
                            {% if q %}
                                {% translate 'No results found.' %}
                            {% else %}
                                {% if request.GET.member == 'all' %}
                                    {% translate 'No studies' %}
                                {% else %}
                                    {% translate 'No personal studies' %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {% if is_paginated %}
                    <nav aria-label="{% translate 'Page navigation' %}">
                        {% bootstrap_pagination page_obj url=request.get_full_path %}
                    </nav>
                {% endif %}
            {% endif  %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'fullcalendar-scheduler/main.js' %}"></script>
    <script src="{% static 'fullcalendar-scheduler/locales/de.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'fullcalendar-scheduler/main.css' %}">
{% endblock %}
