{% extends view.base_template|default:"studies/study_recruitmentsettings_base.html" %}
{% load i18n auth django_bootstrap5 %}

{% block title %}{% translate "Mail Settings" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        <p>{% translate 'These settings are used for recruitment emails (both the initial message as well as reminders).' %}</p>

        {% bootstrap_field form.mail_subject %}
        {% bootstrap_field form.mail_body %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary my-1">{% translate 'Save' %}</button>
            {% if study.mail_body %}
                <button class="btn btn-secondary my-1" formaction="{% url 'studies:testmail-recruitment' study.pk %}">{% translate 'Send test mail to myself' %}</button>
            {% endif %}
        </div>
    </form>
{% endblock %}
