{% extends "subjects/maintenance_base.html" %}
{% load i18n django_bootstrap5 auth %}

{% block title %}{% translate "Duplicates" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <p>{% translate 'The following names exist more than once:' %}</p>

    <ul class="table-list">
        {% for contact in object_list %}
            <li class="table-list-item">
                <div>
                    {{ contact.first_name }} {{ contact.last_name }}
                </div>
                <form class="table-list-item-actions" method="post" action="{% url 'subjects:index' %}">
                    {% csrf_token %}
                    <input type="hidden" name="search" value="{{ contact.first_name }} {{ contact.last_name }}">
                    <button class="btn btn-outline-primary my-1">{% translate 'Search' %}</button>
                </form>
            </li>
        {% empty %}
            <li class="alert alert-success">{% translate 'Nothing to do' %}</li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Page navigation' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
