{% extends "subjects/maintenance_base.html" %}
{% load i18n django_bootstrap5 auth %}

{% block title %}{% translate "Consent" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <p>{% translate 'The following subjects have an outdated consent:' %}</p>

    <ul class="table-list">
        {% for subject in object_list %}
            {% has_privacy_level subject.privacy_level user as can_access %}
            <li class="table-list-item">
                <svg class="identicon my-1 me-2" data-jdenticon-value="{{ subject.pk }}" aria-hidden="true"></svg>
                <div>
                    <div>
                        {% if subject.consent_from_before_full_age %}
                            {% translate 'Consent from before full age' %}
                        {% endif %}
                        {% if subject.consent_document_deprecated %}
                            {{ subject.consent.document }}
                        {% endif %}
                    </div>
                    <div>{% translate 'Last contacted on' %}: {{ subject.updated_at|date }}</div>
                </div>
                <div class="table-list-item-actions">
                    {% if can_access %}
                        <a class="btn btn-outline-primary my-1" href="{% url 'subjects:detail' subject.pk %}" target="_blank">{% translate 'Details' %}</a>
                    {% else %}
                        <button class="btn btn-outline-primary my-1" disabled>{% translate 'Details' %}</button>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li class="alert alert-success">{% translate 'Nothing to do' %}</li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Page navigation' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
