{% extends "subjects/participation_base.html" %}
{% load i18n utils %}

{% block title %}{% translate "Matching studies" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <ul class="table-list mb-3">
        {% for study in object_list %}
            <li class="table-list-item">
                <div class ="h4 d-inline-block my-1 me-2">{{ study }}</div>
                <span class="d-inline-block my-1 me-2">{{ study.contact_person }}</span>
                {% if study.p %}
                    <div class="d-inline-block my-1 me-2">
                        <span class="badge text-bg-secondary" title="{{ study.p.0.get_status_tooltip }}">{{ study.p.0|display:'status' }}</span>
                        {% if study.p.0.dropped_out %}
                            <span class="badge text-bg-secondary" title="{{ study.p.0.TOOLTIPS.dropped_out }}">{{ study.p.0|verbose_name:'dropped_out' }}</span>
                        {% endif %}
                    </div>
                {% endif %}
                <form class="table-list-item-actions" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="study" value="{{ study.pk }}">
                    <button class="btn btn-outline-primary my-1 ">{% translate 'Contact' context 'verb' %}</button>
                </form>
            </li>
        {% empty %}
            <li class="alert alert-warning">
                <h2 class="alert-heading">{% translate 'No matching studies found' %}</h2>
                <p>{% translate 'This person does not meet the filters of the currently active studies.' %}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
