{% extends "subjects/participation_base.html" %}
{% load i18n auth %}

{% block title %}{% translate "Participating" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <ul class="table-list mb-3">
        {% for participation in object_list %}
            <li class="table-list-item">
                <div class="h4 d-inline-block my-1 me-2">{{ participation.study }}</div>
                <span class="d-inline-block my-1 me-2">{{ participation.study.contact_person }}</span>
            </li>
        {% empty %}
            <li class="alert alert-warning">{% translate 'No participations found' %}</li>
        {% endfor %}
    </ul>
{% endblock %}
