{% extends "subjects/participation_base.html" %}
{% load i18n utils %}

{% block title %}{% translate "Add to study" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <p class="alert alert-warning">{% translate 'This feature is intended to support migrating from other tools that previously tracked study participations. There is no easy way to undo these actions.' %}</p>
    <form class="mb-3" method="get" aria-label="{{ form.q.label }}">
        <div class="input-group">
            <input type="search" class="form-control" name="{{ form.q.name }}" value="{{ form.cleaned_data.q }}" placeholder="{{ form.q.label }}" autofocus>
            <button class="btn btn-outline-primary">{% translate 'Go' %}</button>
        </div>
    </form>

    {% if form.cleaned_data.q %}
        <ul class="table-list mb-3">
            {% for study in object_list %}
                <li class="table-list-item">
                    <div class ="h4 d-inline-block my-1 me-2">{{ study }}</div>
                    <span class="d-inline-block my-1 me-2">{{ study.contact_person }}</span>
                    {% if study.p %}
                        <div class="d-inline-block my-1 me-2">
                            <span class="badge text-bg-secondary" title="{{ study.p.0.get_status_tooltip }}">{{ study.p.0|display:'status' }}</span>
                            {% if study.p.0.dropped_out %}
                                <span class="badge text-bg-secondary" title="{{ study.p.0.TOOLTIPS.dropped_out }}">{{ study.p.0|verbose_name:'dropped_out' }}</span>
                            {% endif %}
                        </div>
                        {% if study.p.0.status != study.p.0.INVITED %}
                            <form class ="table-list-item-actions" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="study" value="{{ study.pk }}">
                                <button class="btn btn-outline-primary my-1 ">{% translate 'Set to participating' %}</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form class ="table-list-item-actions" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="study" value="{{ study.pk }}">
                            <button class="btn btn-outline-primary my-1 ">{% translate 'Add to study' %}</button>
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <li class="alert alert-warning">{% translate 'No matching studies found' %}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
