{% extends "subjects/subject_base.html" %}
{% load i18n django_bootstrap5 utils auth subjects %}

{% block title %}{% translate "Overview" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% if not subject.contact.is_complete or not subject.has_legal_basis or subject.consent_action_required %}
        <p class="alert alert-danger" role="alert">
            <strong>{% translate 'Action required' %}.</strong> {% translate 'Please edit data sets marked with' %} {% icon 'exclamation-triangle' label=_('Action required') %}
        </p>
    {% endif %}

    <dl class="row">
        {% if subject.contact.has_legal_representative %}
            <dt class="col-sm-6">{{ subject.contact|verbose_name:'legal_representatives' }}</dt>
            <dd class="col-sm-6">
                {% for c in subject.contact.legal_representatives.all %}
                    {% has_privacy_level c.subject.privacy_level user as can_access %}
                    {% if can_access %}
                        <a href="{% url 'subjects:detail' c.subject.pk %}">{{ c }}</a>{% if not forloop.last %},{% endif %}
                    {% else %}
                        <span class="text-muted">{% translate '(insufficient privacy level)' %}</span>{% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if subject.contact.is_legal_representative %}
            <dt class="col-sm-6">{% translate 'Legal representative of' %}</dt>
            <dd class="col-sm-6">
                {% for c in subject.contact.legal_representative_of.all %}
                    {% has_privacy_level c.subject.privacy_level user as can_access %}
                    {% if can_access %}
                        <a href="{% url 'subjects:detail' c.subject.pk %}">{{ c }}</a>{% if not forloop.last %},{% endif %}
                    {% else %}
                        <span class="text-muted">{% translate '(insufficient privacy level)' %}</span>{% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        <dt class="col-sm-6">{% translate 'Subject data registered' %}</dt>
        <dd class="col-sm-6">{{ subject.created_at }}</dd>

        <dt class="col-sm-6">{% translate 'Last contacted' %}</dt>
        <dd class="col-sm-6">{{ subject.updated_at }}</dd>

        <dt class="col-sm-6">{% translate 'Recruitment attribute completeness' %}</dt>
        <dd class="col-sm-6">{{ attribute_completeness|default:'—' }}</dd>

        <dt class="col-sm-6">{{ subject|verbose_name:'privacy_level' }}</dt>
        <dd class="col-sm-6">
            {% icon 'user-shield' %}
            {{ subject|display:'privacy_level' }}
        </dd>

        <dt class="col-sm-6">{% translate "Reliability" %}</dt>
        <dd class="col-sm-6">{{ subject|display:'reliability' }}</dd>

        <dt class="col-sm-6">{% translate "Drop out rate" %}</dt>
        <dd class="col-sm-6">{{ dropout_rate }}</dd>
    </dl>

    <h2 class="h4">{% translate 'Legal basis for data processing' %}</h2>

    {% if not subject.has_legal_basis %}
        <p class="alert alert-warning">{% translate 'Currently there is no legal basis for storing this subject. This subject will be deleted unless you provide at least one of these options.' %}</p>
    {% endif %}

    <dl class="row">
        <dt class="col-sm-6">
            {% translate 'Recruitment consent' %}
            <small class="d-block text-muted">
                {% translate 'Art. 6 (1) lit. a, Art. 9 (2) lit. a GDPR (explicit consent)' %}
            </small>
        </dt>
        <dd class="col-sm-6">
            {% if subject.deceased %}
                <em>{% translate 'deceased' %}</em>
            {% elif subject.has_legal_basis %}
                {{ subject|display:'has_consent_or_waiting' }}
            {% else %}
                {% url 'subjects:data-protection' subject.pk as url %}
                {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">set consent status</a>.{% endblocktranslate %}
            {% endif %}
        </dd>

        <dt class="col-sm-6">
            {% translate 'Study consent' %}
            <small class="d-block text-muted">
                {% translate 'Art. 6 (1) lit. a, Art. 9 (2) lit. a GDPR (explicit consent) and Art. 27 BDSG (additional rules for scientific research)' %}
            </small>
        </dt>
        <dd class="col-sm-6">
            {% if subject.has_legal_basis %}
                {{ subject|display:'has_study_consent' }}
            {% else %}
                {% url 'subjects:participation-list' subject.pk as url %}
                {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">add to a study</a>.{% endblocktranslate %}
            {% endif %}
        </dd>

        <dt class="col-sm-6">
            {% translate 'Legal representative' %}
            <small class="d-block text-muted">
                {% translate 'Art. 6 (1) lit. a, Art. 9 (2) lit. a GDPR (explicit consent) and Art. 1626, 1902 BGB (responsibilities of legal representatives)' %}
            </small>
        </dt>
        <dd class="col-sm-6">
            {% if subject.has_legal_basis %}
                {{ subject.contact|display:'is_legal_representative' }}
            {% else %}
                {% url 'subjects:index' as url %}
                {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">find or create a subject</a> and set this one as their legal representative.{% endblocktranslate %}
            {% endif %}
        </dd>

        <dt class="col-sm-6">
            {{ subject|verbose_name:'blocked' }}
            <small class="d-block text-muted">
                {% translate 'Art. 6 (1) lit. f GDPR (legitimate interests)' %}
            </small>
        </dt>
        <dd class="col-sm-6">
            {% if subject.deceased %}
                <em>{% translate 'deceased' %}</em>
            {% elif subject.has_legal_basis %}
                {{ subject|display:'blocked' }}
            {% else %}
                {% url 'subjects:additional-info' subject.pk as url %}
                {% blocktranslate with url=url %}If applicable, <a href="{{ url }}">block this subject</a>.{% endblocktranslate %}
            {% endif %}
        </dd>
    </dl>
{% endblock %}
