{% load i18n %}

<div class="row g-2">
    {% for widget in widget.subwidgets %}
        <div class="col-sm">{% include widget.template_name %}</div>
    {% endfor %}
    <div class="col-sm flex-grow-0">
        <button class="btn btn-danger" type="button" data-js="clear-datetime">{% translate 'Clear' %}</button>
    </div>
</div>
