{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% translate 'Two-factor authentication' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="my-5">
        <h1>{% translate 'Two-factor authentication' %}</h1>
        <p>{% translate 'When you are ready to authenticate with FIDO2, press the button below.' %}</p>

        <form data-fido2-auth="{{ mfa_data }}" method="POST" class="mb-4">
            {% csrf_token %}
            {% include 'utils/form_errors.html' with form=form %}
            {{ form.code.as_hidden }}
            <button autofocus class="btn btn-primary">{% translate 'Verify' %}</button>
            <a href="{% url 'mfa:auth' 'TOTP' %}" class="btn btn-link">{% translate 'Use TOTP instead' %}</a>
            <a href="{% url 'mfa:auth' 'recovery' %}" class="btn btn-link">{% translate 'Use recovery code instead' %}</a>
        </form>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'cbor-js/cbor.js' %}"></script>
    <script src="{% static 'mfa/fido2.js' %}"></script>
{% endblock %}
